layout {
  cwd "/home/$USER/src/tonyvim"
  pane split_direction="horizontal" {
    pane {
      plugin location="zellij:tab-bar"
      size 1
      borderless true
    }
    pane split_direction="vertical" {
        pane {
          command "nvim"
          focus true
          size "80%"
        }
        pane {
          command "aider"
          size "20%"
        }
    }
    pane {
      plugin location="zellij:status-bar"
      size 1
      borderless true
    }
  }
  floating_panes {
      pane {
        name "GIT"
        command "lazygit"
        floating true
        //close_on_exit true
        x "12%"
        y "12%"
        width "75%"
        height "75%"
      }
      pane {
        name "TERM"
        floating true
        x "12%"
        y "12%"
        width "75%"
        height "75%"
    }
  }
}
